<!DOCTYPE html>
<html lang="en">
  
<body>
 
    <div class="genre-bg">

        <div class="about-container">

            <i style ="color: black;   line-height:70px;
            font-size: 70px; margin-bottom: 30px;"class="fas fa-lightbulb"></i>

            <div class="wrapper">
                <div class="typing-demo">
                  
                    What is hikari novel?
                </div>
            </div>
            <div style="width: 800px;">
                <p style="line-height: 2.0;">Hikari reader is an online community based light novel reader, users can sign in and sign up and create and manage their own novels, users can also view the other novels that other users have made. This platform allows user to explore other peoples creative content and make their own. </p></div>
            

        </div>

        
    </div>
    <script type="text/javascript" src = "scripts/FileReader.js">
    </script>
    <input type="file" accept=".docx,.txt"/>
    <button id="myBtn">Try it</button>
    <pre id="file"></pre>
 <br>

    <!--<script src="scripts/EditDistance.js"></script>-->
    
</body>
</html>

